/* CSS Document */
body{
	font-family:Century Gothic;
	color:#A2A2A2;
	font-size:16px;
	position:relative;
	margin-top:0px;
}

#header {
	height:120px;
	width:100%;
	display:block;
	min-width:1000px;
}


#container {
	height:500px;
	width:70%;
	margin-left:15%;
	margin-right:15%;
	min-width:1000px;
}

#contenedor{
	min-width:1000px;
}


#login_container {
    width: 40%;
    float: left;
	height:280px;
	margin-left:30%;
	border-radius:20px;
	border:solid 2px #009344;
	margin-top:100px; 
	background-color:#8CC63E;
	-moz-border-radius:20px; /* Firefox */
	-webkit-border-radius:20px; /* Safari y Chrome */ 
	color:#515153;
}

#area_de_trabajo{
	width:100%;
	height:500px;
	border-top:solid 1px;
	border-bottom:solid 1px;
	margin-top:2px;
}

#sidebar_left{
	width:20%;
	height:100%;
	display:inline-block;
	float:left;
}

#main_div{
	width:65%;
	height:100%;
	display:inline-block;
	float:left;
}

#sidebar_right{
	width:15%;
	height:100%;
	display:inline-block;
	float:left;
}

#start_training_div{
	margin:50px;
}

#logout{
	display:inline-block;
}

#list_players{
	width:30%; 
	height:400px; 
	display:inline-block; 
	overflow:scroll;
	border-left:solid 1px #EEE;
	border-right:solid 1px #EEE;
	margin-left:5%;
	float:left;
}

#gaugeValue {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #f3f3f3));
	background-image: -webkit-linear-gradient(#fafafa, #f3f3f3);
	background-image: -moz-linear-gradient(#fafafa, #f3f3f3);
	background-image: -o-linear-gradient(#fafafa, #f3f3f3);
	background-image: -ms-linear-gradient(#fafafa, #f3f3f3);
	background-image: linear-gradient(#fafafa, #f3f3f3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	padding: 10px;
}


.loginForm {
	width:100%;
	margin-left:20%;
	margin-bottom:10px;
	margin-top:20px;
	display: inline-block;
}

.loginField{
	height:20px;
	margin-left:20%;
}

.tab{
	width:15%;
	height:35px;
	display:inline-block;
	text-align:center;
	/*background-color:#FFEE9F;*/
	/*background-color:#04B404;*/
	/*background-color:#8CC63E;*/
	background-color:#4DC230;
	color:#FFF;
	padding-top:15px;
	margin-bottom:5px;
}

.tab:hover{
	border-top:solid 3px #4DC230;
	border-bottom:solid 3px #4DC230;
}

.up_tab{
	width:40%;
	height:25px;
	display:inline-block;
	text-align:center;
	font-size:12px;
	margin-left:1px;
	float:left;
	background-color:#A6A6A6;
	color:#FFF;
	padding-top:10px;
	margin-bottom:5px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.active{
	background-color:#FFF;
	color:#4DC230;
	border:solid 2px;
}

.inactive{
	background-color:#A2A2A2;
	color:#FFF;
}

.error{
	font-size: 12px;
	color: red;
	margin-top: 5px;
}

.subtitle{
	width:100%;
	height:40px;
	font-size:18px;
}

.tag_form{
	width:40%;
	margin:10px;
	display:inline-block;
	font-size:14px;
}

.tag_form_list{
	width:40%;
	margin:10px;
	display:inline-block;
	font-size:14px;
	vertical-align:top;
}

.tag_form_editar{
	width:33%;
	margin:3%;
	display:inline-block;
	font-size:14px;
}

.tag_form_editar_list{
	width:33%;
	margin:3%;
	display:inline-block;
	font-size:14px;
	vertical-align:top;
}

.input{
	display:inline-block;
	width:50%;
}

.navigation{
	width:100%;
	height:20px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	margin-top:10px;
}

.navigation a{
	text-decoration:none;
	color:#000;
	font-style:normal;
}

.up_tab a{
	text-decoration:none;
	color:#FFF;
	font-style:normal;
}

.campos{
	font-size:14px;	
}

.list_box{
	display:inline-block;
	margin-top:5px;
}

.display_player{
	width:85%;
	height:120px;
	margin-bottom:20px;
	font-size:12px;
	text-align:center;
}

.data{
	font-size:14px;
}

.tab_player_login{
	height:80px;
	margin-bottom:10px;
	display:inline-block;
	width:30%;
}


.tag_info_player_login{
	width:100%;
	float:left; 
	margin-left:5%;
	margin-bottom:5px;
	height:30px;
}
	
.tag_data_player_login{
	font-size:16px;
	width:100%;
	float:left; 
	margin-left:5%;
}

.my_account_field{
	width:100%;
	height:50px;
	margin:10px;
	float:left;
	margin-top:60px;
}

.my_account_tag{
	width:100%;
	height:40%;
	font-size:14px;
	color:#000;
}

.my_account_data{
	width:100%;
	height:40%;
	margin-top:10%;
	font-size:12px;
	margin-left:15%;
}

.area {
    fill: rgb(0,0,255);
    stroke-width: 0;
}

.athlete_index{
	width:80%; 
	height:120px;
	margin-left:10%; 
	margin-right:10%; 
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:solid 1px #EEE;
}

.data_info_index{
	float:left; 
	height:65px; 
	width:20%;
	padding-left:3%; 
	padding-right:3%;
}

.data_info_index a{
	text-decoration:none;
	color:#A2A2A2;
	font-style:normal;
}

.data_info_index_min{
	float:left; 
	height:65px; 
	width:10%;
	padding-left:3%; 
	padding-right:3%;
	font-size:14px;
}

.data_index{
	height:40px; 
	color:#000; 
	font-size:22px;
	text-align:center;
}

.data_index_min{
	height:40px; 
	color:#000; 
	font-size:14px;
	text-align:center;
}

.data_index_alert{
	height:40px; 
	color:#F00;
	font-weight:bold; 
	font-size:30px;
	text-align:center;
}

.data_index_alert{
	color:#F00;
	font-size:20px;
	font-weight:bold;
}